main {
    margin-top: 60px;
    padding: 20px;
    position : relative;
}

#about-title {
    text-align: center;
    font-size: 4em;
}

section {
    width: 80%;
    margin: 0 auto;
}

table, tr, td, th {
    border-collapse: collapse;
    border: 1px solid black;
}

table {
    margin: 0 auto;
}

td,th {
    width: 200px;
    padding: 5px;
}